<div class="row">
  <div class="col-12 grid-margin stretch-card">
      
      <%- partial('./_form.ejs') %>
  </div>
</div>
<% block('localScripts', '<script src="/vendors/sweetalert/sweetalert.min.js"></script>') %>
<% block('localScripts', '<script src="/js/backend/student/index.js"></script>') %>