Hello <%=FullName%>,<br/><br/>

Thông báo này xác nhận bạn đã thay đổi mật khẩu trên website Kindie.<br/> 
Vui lòng sử dụng mật khẩu mới để đăng nhập hệ thống: <%=NewPassword%><br/>

<br/><br/>
Trân trọng,<br/>
Kindie Team,<br/>
<a href="http://kindie.net">http://kindie.net</a>

