Hello <%=FullName%>,<br/><br/>

Thông báo này xác nhận bạn đã thay đổi mật khẩu trên website CookCook.<br/> 
Vui lòng sử dụng mật khẩu mới để đăng nhập hệ thống: <%=NewPassword%><br/>

<br/><br/>
Trân trọng,<br/>
CookCook Team,<br/>
<a href="http://cookcook.net">http://cookcook.net</a>

