<div class="page">
  <div class="page-header">
    <div class="page-header-actions">
    </div>
  </div>
  <!-- Page Content -->
  <div class="page-content container-fluid ">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12">
          <%- partial('./_form-parent.ejs') %>
      </div>
    </div>
  </div>
</div> 
<% block('localScripts', '<script src="/vendors/sweetalert/sweetalert.min.js"></script>') %>
<% block('localScripts', '<script src="/js/backend/parent/index.js"></script>') %>