<% let BACKEND = sails.config.custom.BACKEND %>

<!--Row 1-->
<div class="row">
	<% for(let postObj of posts) {%>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title"><%= postObj.title%></h4>
				<div class="row">
					<div class="col-md-12 js-height-scrollbar" style="height: 350px;">
						<a href="/backend/post?postId=<%= postObj.id%>">
							<img src="<%= postObj.media[0].thumbnail.path%>">
						</a>
					</div>
					<div class="col-sm-12 js-height-scrollbar" style="height: 50px;">
						<div class="message-box">
							<div class="message-widget message-scroll">
								<%= postObj.motto%>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<%}%>
</div>

<% block('localScripts', '<script src="/js/backend/dashboard/index.js"></script>') %>