<% let BACKEND = sails.config.custom.BACKEND %>
<% block('localCss', '<link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.css">') %>
<% block('localCss', '<link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.css">') %>




<!-- START TEACHER SECTION -->
<section class="section-side-image sec-padding-3 clearfix">
  <div class="container">
    <div class="row slide-controls-4">
      <div class="col-sm-12">
        <div class="sec-title-container text-center">
          <h5 class="font-weight-4 less-mar-1 line-height-4 ce-title-top-text">title</h5>
          <h2 class="font-weight-6 less-mar-1 line-height-5">title</h2>
          <div class="ce-title-line"></div>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--end title-->

      <div id="owl-demo5" class="owl-carousel owl-theme">
      
        <div class="item">
          <div class="ce-feature-box-69">
            <div class="scicon-box">
              <!-- <br/>
              <ul class="sc-icons">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li> 
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul> -->
            </div>
            <div class="img-box">
              <img src="http://placehold.it/740x555" alt="" class="img-responsive"/>
            </div>
            <!-- <div class="shape-1"><img src="images/136.png" alt="" class="img-responsive"/></div>
            <div class="shape-2"><img src="images/137.png" alt="" class="img-responsive"/></div>
            <div class="shape-4"><img src="images/139.png" alt="" class="img-responsive"/></div> -->
            <div class="text-box">
            <h5 class="nopadding title">Name</h5>
                <p class="subtext">title</p>
            </div>
          </div>
        </div>
        <!--end carousel item-->
     

      </div>
      <!--end carousel main-->
    </div>

  </div>
</section>
<div class=" clearfix"></div>
  <!--end section-->
<!-- END TEACHER SECTION -->

<!-- END NEWS SECTION -->
<section class="section-side-image section-light sec-bpadding-2 clearfix">
  <!-- <div class="img-holder col-md-12 col-sm-12 pull-left">
    <div class="background-imgholder" style="background:url(http://via.placeholder.com/2000x1500);"><img
        class="nodisplay-image" src="http://via.placeholder.com/2000x1500" alt="" /> </div>
  </div> -->
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <div class="sec-title-container text-center">
          <h5 class="font-weight-4 less-mar-1 line-height-4 ce-title-top-text">header</h5>
          <h2 class="font-weight-6 less-mar-1 line-height-5">title</h2>
          <div class="ce-title-line"></div>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--end title-->

  
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="ce-feature-box-5 margin-bottom">
          <div class="img-box"> <img src="http://via.placeholder.com/1000x800" alt="" class="img-responsive" /></div>
          <div class="clearfix"></div>
          <br />
          <p>12/12/2020</p>
          <h5 class="font-weight-5 title"><a href="#">title</a></h5>
          <p class="content">Mon an</p>
          <br />
          <div class="divider-line solid light"></div>
          <br />
          <div class="imgbox-xtiny left overflow-hidden"><img src="/images/avatar2.png" alt=""
              class="img-responsive" /></div>
          <div class="text-box-right less-padding text-dark">Admin</div>
        </div>
      </div>
      <!--end item-->
    </div>

  </div>
</section>
<div class=" clearfix"></div>
<!-- END NEWS SECTION -->

<% block('localScripts', '<script src="/vendors/owl-carousel/custom.js"></script>') %>
<% block('localScripts', '<script src="/js/frontend/home/index.js"></script>') %>
