<div class="clearfix"></div>
<!--end header inner-->
<section class="section-side-image clearfix">
  <div class="img-holder col-md-12 col-sm-12 col-xs-12">
    <div class="background-imgholder" style="background:url(/frontend/images/banner-inner.png);"><img
        class="nodisplay-image" src="http://via.placeholder.com/1500x1000" alt="" /> </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
        <div class="header-inner less-height">
          <!-- <div class="overlay"> -->
            <div class="text text-center">
              <h3 class="uppercase text-white less-mar-1 title"><%=webModule.headline%></h3>
              <!-- <h6 class="uppercase text-white sub-title">Get Many More Features</h6> -->
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<div class=" clearfix"></div>
  <!--end header inner -->