<div class="col-md-12 nopadding">
    <div class="header-section white style1 white pin-style">
      <div class="container">
        <div class="mod-menu">
          <div class="row">
            <div class="col-sm-2"> <a href="/" title="" class="logo mar-4"> <img src="/images/cookcook.png" alt=""> </a> </div>
            <div class="col-sm-10">
              <div class="main-nav">
                <div id="menu" class="collapse">
                  <ul class="nav navbar-nav">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end menu-->
  </div>
  <!--end menu-->
  <div class="clearfix"></div>
<section class="section-side-image clearfix">
    <div class="img-holder col-md-12 col-sm-12 col-xs-12">
      <div class="background-imgholder" style="background:url(/frontend/images/banner-inner.png);"><img
          class="nodisplay-image" src="http://via.placeholder.com/1500x1000" alt="" /> 
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
          <div class="header-inner less-height">
            <!-- <div class="overlay"> -->
              <div class="text text-center">
                <h3 class="uppercase text-white less-mar-1 title"><%=webModule.headline%></h3>
                <!-- <h6 class="uppercase text-white sub-title">Get Many More Features</h6> -->
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
</section>