<!-- header -->
<header class="header-site" id="header">
    <nav class="navbar navbar-expand-lg navbar-kindie" id="nav-kindie">
      <div class="container">
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
        </button>
        <div class="navbar-logo order-2 order-lg-1">
          <a href="#"><img src="/images/cookcook.png" alt="CookCook"></a>
        </div>
        <div class="navbar-right order-3">
          <a href="#" class="btn btn-outline-light active">Login</a>
        </div>
        <div class="collapse navbar-collapse order-4 order-lg-2" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Thông báo</a></li>
            <li><a href="#">Nhà hàng</a></li>
            <li><a href="#">Thương hiệu</a></li>
            <li><a href="#">Món ăn</a></li>
            <li><a href="#">Thông tin chung</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- e: header -->