
 <!-- main content -->
 <main class="main-content">
    <!-- sub-banner -->
    <section class="sub-banner">
      <div class="container">
        <h1 class="title-page">Login</h1>
      </div>
    </section>
    <!-- e: sub-banner -->

    <div class="container">
      <div class="sign-in">
        <div class="sign-in-header">
          <h2>Login your account</h2>
        </div>
        <form class="form-sign" id='frmLogin' data-toggle="validator" role="form">
          <div class="form-group">
            <label>E-mail</label>
            <div class="input-group-icons">
              <input type="text" class="form-control" placeholder="E-mail" id="txtEmail" name="emailAddress" type="email">
              <span class="prepend-icon"><i class="envelope-o"></i></span>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <div class="input-group-icons input-group-pw">
              <input type="text" class="form-control" placeholder="Password" id="txtPassword" name="password" type="password">
              <span class="prepend-icon"><i class="key-o"></i></span>
              <span class="prepend-icon-eye"><i class="eye-o"></i></span>
            </div>
          </div>
          <button class="btn btn-primary btn-styled active" type="button">Login</button>
          <div class="text">
            <div class="text-remember">
              <input type="checkbox" id="txt-remember" name="">
              <label for="txt-remeber">Remeber me</label>
            </div>
            <div class="text-forgot">
              <a href="#">forgot password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <!-- e: main content -->